{% extends 'bootstrap/base.html' %}
{% block head%} {{super()}} {% endblock%}
{% block title %} {{super()}} {% endblock %}
{%block content %} {{super()}} {% endblock%}
{% block page_content %} {{super()}} {% endblock%}
{% block footer %} {{super()}}  {% endblock%}
{% block header%}
{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}
{%endblock header%}

{# NOTE: your other files have to have all of the blocks or else it would be blank#}