{% extends 'base.html' %}

<head>{%block head%}
    <title>{% block title %}Emily's Dog Costumes - My Costumes {%endblock title%}</title>
    <meta name="description" content="Emily's Dog Costumes">
    <link rel="stylesheet" href="static/style.css">
    {%endblock head%}

</head>

<body>
    <header>
        {%block header %}
        <div id="logo"><img src="static/logo.png"><h1>Emily's Dog Costumes</h1></div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/services">Services</a>
                <li><a href="/costumes">Costumes</a>
            </ul>
        </nav>
        {%endblock header %}
    </header>

    <section id="pageContent">
        {%block pagecontent %}
        <main role="main">
            {%block content %}
            {# Here is what each costume listing should look like in HTML #}
            <article>
                {% for dict_item in costumes_list%}
                    {% for key, value in dict_item.items()%}
                        {% if key == "header"%}
                        <h2>{{value}}</h2>
                        {% endif%}

                        {% if key == "image"%}
                        <img class="costume" src={{value}}>
                        {%endif%}
                        {% if key=="body"%}
                            <p>{{value}}</p>
                        {%endif%}
                    {%endfor%}
                {%endfor%}
            </article>
            {# then the next costume, then the next... #}
            {# How can you list all of the costumes (in app.py) using Jinja? #}
            {% endblock content %}
        </main>
    {% endblock pagecontent %}

    </section>
    <footer>
        {%block footer%}
        <p>&copy; All rights reserved to Emily, Dog Costume Extraordinaire</p>
        <address>
            Contact: <a href="mailto:emily@example.com">Emily, Dog Costumer</a>
        </address>
        {% endblock footer %}
    </footer>
</body>